.container {
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
}

.remoteList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.form {
    display: flex;
    flex-direction: column;    
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.form input {
    width: 330px;
    padding: 5px;
}

.formBtn {
    display: flex;
    gap: 20px;
}

.formBtn button {
 padding: 5px 10px;
}

.formBtn .clear {
    background-color: rgb(255, 113, 113);
}

.formBtn .save {
    background-color: rgb(62, 81, 255);
}


.successMessage {
    color: green;
    font-size: large;
}


.errorMessage {
    color: red;
    font-size: large;
}